body{
	background:url('background_image.jpg')
}
/* Слайдер */
.slick-slider{
	position: relative;
	padding: 0px 60px;
	min-width: 450px;
}

/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items:flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
	position: absolute;
	top:50%;
	z-index: 10;
	margin:-22.5px 0px 0px 0px;
	font-size: 0;
	width: 50px;
	height: 45px;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	left:0;
	background:url('arrow_left.png') 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	right:0;
	background:url('arrow_right.png') 0 0/ 100% no-repeat;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
/* Активная точка */
.slick-dots li.slick-active{
	background-color:transparent;
	border:1px solid white;
	
}
/* Элемент точки */
.slick-dots li button{
	font-size: 0;
	width: 30px;
	height: 30px;
	background-color:red;
	border-radius: 50%;
	

}
